:root {
  --black: #2a2829;
  --blue: #3470b9;
  --white: #f9f9f9;
  --button: #253451;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: transparent;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 4px 8px var(--black);
}

#container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 1rem 0;
}
footer h4.footerHead {
  flex: 1;
  font-size: 1.4rem;
}
footer div.locationBlock {
  display: flex;
  gap: 12rem;
  width: 100%;
  justify-content: space-evenly;
}
footer div.location {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}
footer div.location div p.city {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 12px;
}
p.hours {
  font-weight: 700;
  margin-bottom: 12px;
}
footer div.location ul {
  list-style-type: none;
}
